<header id="header"{% if page.scroll_navigation %} class="alt"{% endif %}>
	<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
	<nav id="nav">
		<ul>
			<li class="special">
				<a href="#" class="menuToggle"><span>Menu</span></a>
				<div id="menu">
					<ul>
						<li><a href="{{ site.baseurl }}/">Home</a></li>
						<li><a href="{{ site.baseurl }}/blog/">My Blog</a></li>
						<li><a href="{{ site.baseurl }}/about/">About Me</a></li>
						<li><a href="{{ site.baseurl }}/contact/">Contact Me</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>